Django>=5.0
djangorestframework
djangorestframework-simplejwt>=5.5.1,<6.0
django-cors-headers
django-environ
psycopg2-binary
python-dotenv
requests
openai>=1.0.0
langchain
pytest
pytest-django
requests-mock
ruff
django-filter
