Django>=5.0
djangorestframework
django-cors-headers
django-environ
psycopg2-binary
dj-database-url
Pillow          
django-storages
pytest
pytest-django
requests-mock
ruff
requests
django-filter
djangorestframework-simplejwt>=5.5.1,<6.0
django-cors-headers